{{#if flash }}
    {{#is flash.type "success"}}
        <div class="{{flash.type}}">
            <div class="alert alert-success alert-dismissible fade show mesazh animated fadeInDownBig " role="alert" id="alert" >
                <strong> {{flash.message}} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {{/is}}
    {{#is flash.type "error"}}
        <div class="{{flash.type}}">
            <div class="alert alert-warning alert-dismissible fade show mesazh animated shake" role="alert" id="alert" >
                <strong> {{flash.message}} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {{/is}}
{{/if}}